.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
}

.modal {
  padding: 1rem;
  background: #fff;
  margin-top: 3rem;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
}